.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin-top: 50px;
}
.calculator-wrapper{
  width: 400px;
  height: 500px;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

